body{
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    background-color: #19E68C;
    background-image: url("../img/bg.png");
}
#banner{
    height: 5em;
    background-color: black;
    color:white;
}

#imageBanner{
    display:inline-block;
    height: 100%;
}

#imageBanner>a>img{
    display: inline-block;
    height:100%;
}

#joinRoomButton, #createRoomButton, #button1, #button2, #button3, #button4, #startGameButton{
    font-family: 'Righteous', cursive;
    background-color: #FFFFFF;
    border:0.1em solid #FFFFFF;
    color: black;
    font-weight:300;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 0.5em;
    box-sizing: border-box;
    width: auto;
    height: auto;
    transition: all 0.3s;
}

#joinRoomButton:hover, #createRoomButton:hover, #button1:hover, #button2:hover, #button3:hover, #startGameButton:hover, #button4:hover{
    color:#ffffff;
    background-color:#000000;
    }

#buttonDiv{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#navBar{
    float: right;
    height: 5em;
    padding-right: 20px;
    padding-top: 12px;
}

ul li{
    list-style: none;
    display: inline-block;
    height: 5em;
}

#name{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

ul li a{
    font-family: 'Righteous', cursive;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 0 20px;
    color: white;
    
}

#info, #gameInfo{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.hide{
    display: none;
}

.show{
    display: inline-block;
}


.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  
#playerTable{
    color: black;
}

#joinCode{
    font-family: 'Righteous', cursive;
    color: black;
    margin: auto;
    width: 100%;
    font-size: 64px;
    padding: 10px;
}

#players{
    display: flex;
}

#others{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#others>div{
    display:inline-block;
    width: 20em;
    margin: auto;
}

#startGameButton{
    font-family: 'Righteous', cursive;
    margin: auto;
    width: 100%;
    padding: 10px;
}

/** Point counter for game.html **/
.points{
    position: absolute;
    top: 200px;
    left: 85px;
}

.pName{
    text-align: center;
}

#player{
    width: 100%;
    padding-left: 0.0008%;
}
/** Players in lobby.html, aligns them into the center of screen, should work with mobile devices **/
#playerDiv{
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    display: inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
}

/** Players in game.html, aligns them into the center of screen, should work with mobile devices **/
#scoreboardDiv{
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    display: inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#scoreboardDiv>div{
    position: relative;
}

#question{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answers{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 1%;
}

#button1, #button2, #button3, #button4{
    display: flex;
    flex-basis: 50%;
}

